.teamCard {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid grey;
  margin: 8px;
  padding: 8px;
  background: var(--secondary-color);
}

.teamInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.root {
  background: var(--primary-color);
  padding: 8px;
}
