.table {
  width: 100%;
  border-spacing: 1;
}

.table thead {
  background: #c2c2c2;
  padding: 4px 8px;
  border-bottom: 5px solid red;
}
.table th {
  padding: 4px 8px;
}

.table tr {
  background: #c2c2c2;
  padding: 4px 8px;
}

.table td {
  padding: 4px 8px;
}
